* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(241, 220, 223);
  }
  
  .container {
    background: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 400px; /* Increased width for a wider layout */
    max-width: 100%;
  }
  
  .container h2 {
    margin-bottom: 20px;
  }
  
  input {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    background-color: #1a8421;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    background-color: #218838;
  }
  
  /* Style for the Login button */
  .login-button {
    background-color: #1a8421;
    margin-top: 10px;
  }
  
  .login-button:hover {
    background-color: #26602a;
  }
  
  p {
    margin-top: 20px;
  }
  